<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Booklist</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<style>
		table {
	    	border-collapse: collapse;
	    	width:90%;
		}
	
		table, th, td {
		    border: 1px solid black;
		}
		</style>
	</head>
	<body>
	<h1>Books</h1>
		<table class="table table-striped">
			<tr><th>Author</th><th>title</th><th>ISBN</th><th>Year</th><th>Price</th><th></th></tr>
			<tr th:each="book : ${books}">
				<td th:text="${book.author}">author...</td>
				<td th:text="${book.title}">title ...</td>
				<td th:text="${book.isbn}">ISBN ...</td>
				<td th:text="${book.year}">Year ...</td>
				<td th:text="${book.price}">Price ...</td>
				<td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
			</tr>
		</table>
		<a href="/addbook" class="btn btn-primary">Add Student</a>
	</body>
</html>